@import "../bootstrap/css/bootstrap.min.css";
@import "../select2/select2.css";

body {
  padding-top: 60px;
  font-size: 13px;
}
.page-header {
  margin-bottom: 20px;
}
.page-header:first-child {
  margin-top: 0;
}
.page-header h1 {
  margin: 0;
}
.page-actions {
  list-style: none;
  display: inline-block;
  float: right;
}
.page-actions li {
  display: inline-block;
  margin-left: 1em;
}
.table thead th {
  background-image: linear-gradient(top, white, #E6E6E6);
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
}
.table td {
  vertical-align: middle;
}
.table .actions {
  width: 1%;
  white-space: nowrap;
}
.properties {
  margin: 0;
}
.properties dt {
  margin-top: .5em;
}
.properties dt:first-child {
  margin-top: 0;
}
.control-label {
  font-weight: bold;
}
.control-group.is-last {
  margin-bottom: 0;
}
p:last-child {
  margin-bottom: 0;
}
.input-append .btn:last-child {
  border-radius: 0 3px 3px 0;
}
br + label {
  margin-top: .5em;
}
.nav-well {
  padding: 8px 0;
}
.form-errors {
  margin-left: 0;
  list-style: none;
  line-height: 1;
}
.form-error {
  margin-top: .25em;
  padding-left: .5em;
  border-left: 1em solid #D98078;
}
.form-error:first-child {
  margin-top: 0;
}
.help-block {
  margin-top: -4px;
  margin-bottom: 0;
  font-size: .9em;
  color: #888;
}
#agreement-upload + .help-block {
  margin-top: 0;
}
.filters {
  background: #eee;
}
.filters input {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 31px;
  font-size: 16px;
}
.filters input[name=krs],
.filters input[name=nip] {
  font-family: Consolas, Menlo, Monaco, monospace;
  width: 105px;
}
.filters input[name=date],
.filters input[name=alarmDate] {
  font-size: 13px;
  width: 150px;
}
.table .min {
  width: 1%;
  white-space: nowrap;
}
.table tbody tr:hover td {
  background-color: #FFC;
  color: #333;
}
.table tbody tr.error > td {
  background-color: #f00;
  color: #fff;
}
.table tbody tr.error:hover > td {
  background-color: #e00;
  color: #fff;
}
.table tbody tr.warning > td {
  background-color: #ff0;
}
.table tbody tr.warning:hover > td {
  background-color: #ee0;
}
.table th label {
  margin-bottom: 0;
  font-weight: bold;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-width: 2px;
}
.select2-container-multi .select2-choices {
  border: 2px solid #CCC;
}
.select2-container-multi.select2-container-active .select2-choices {
  border-width: 2px;
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.select2-drop-active {
  border-width: 2px;
  border-color: rgba(82, 168, 236, 0.8);
}
input[name=query] {
  border-width: 1px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  .navbar-fixed-top .navbar-inner {
    padding: 0 5px;
  }
}
